# 忽略所有PDF文件
*.PDF
*.pdf

# 忽略特定的PDF文件
882406142104.PDF

# 忽略由PDF转换生成的markdown和txt文件
*.md
*.txt

# 保留其他常见的忽略规则
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.DS_Store
dataset
dataset_paper
dataset_test
test*
.dockerignore
app.sh
.env
/env
__pycache__/
dataset_cn/.DS_Store
checkpoints/chunks_0de4b485-50fb-436c-997a-d3bf246fbd56.json
dataset_cn/HITCPubMedKg_2/HITCPubMed-KGv2_0.csv
dataset_cn/HITCPubMedKg_2/HITCPubMed-KGv2_0_mini.csv
